body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: white;
    padding: 120px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: relative;
  }
  
  .title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .add-button {
    width: 25%;
    padding: 10px;
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-button:hover {
    background-color: #138496;
  }
  
  .grocery-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
  }
  
  .checkbox {
    cursor: pointer;
  }
  
  .item-text {
    flex-grow: 1;
    margin: 0;
    padding: 0 10px;
    color: #333;
  }
  
  .item-text.strikethrough {
    text-decoration: line-through;
    color: #999;
  }
  
  .delete-button {
    background-color: #343a40;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s;
  }
  
  .delete-button:hover {
    background-color: #23272b;
  }
  
  .notification {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeInOut 3s forwards;
    text-align: center;
    color: white;
  }
  
  .notification.error {
    background-color: #f44336;
  }
  
  .notification.success {
    background-color: #4caf50;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      top: 0;
    }
    10% {
      opacity: 1;
      top: 10px;
    }
    90% {
      opacity: 1;
      top: 10px;
    }
    100% {
      opacity: 0;
      top: 0;
    }
  }
  